table {
    width: 100%;
  }

.filter-create{
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-form-field{
    display: flex;
    flex:1;
  }

  .action-buttons{
    display: inline-flex;
    justify-content: space-evenly;
    
    button{
      margin: 1px;
      width: 200px;
      &:hover{
        background-color: darken(#673ab7, 10%);
      }
    }

  }

}

@media screen and (max-width: 1250px){
  .filter-create{
    mat-form-field{
      flex:0;
    }
  }

}

@media screen and (max-width: 1000px){
  .action-buttons{
    margin-bottom: 2px;
  }
}