<h1>Products</h1>
<div class="filter-create">
  <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>
  <div fxLayout="row wrap" class="action-buttons">
    <button mat-raised-button class="add-button" (click)="addRow()">
      Add Row    
    </button>
    <button mat-raised-button class="edit-button" color="accent" (click)="editSelectedRow()">
      Edit Row
    </button>
    <button mat-raised-button class="delete-button" color="warn" (click)="removeSelectedRows()">
      Remove Selected Rows
    </button>
  </div>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="border-bottom-style:none;">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                      color="primary">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="border-bottom-style:none;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="id"> 
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container> 
  <ng-container matColumnDef="name"> 
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="details"> 
      <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.details}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="unitPrice"> 
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.unitPrice}} $</mat-cell>
  </ng-container>
  <ng-container matColumnDef="unitsInStock"> 
      <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.unitsInStock}}</mat-cell>
  </ng-container>
  <!-- <ng-container matColumnDef="category"> 
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.category.name}}</mat-cell>
  </ng-container> -->
  <!-- <ng-container matColumnDef="imagePath"> 
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let row" ><td><img [src]="createImgPath(row.imagePath)" alt="profile picture" style="width:60px; height:60px;"></td></mat-cell>
  </ng-container> -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</mat-table>

  
<mat-paginator style="display: inline;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
