.content-container{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.action-buttons{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-around;

    button{
        width: 100px;
    }

    .no-button{
        &:hover{
            filter:brightness(90%);
        }
    }

    .yes-button{
        &:hover{
            filter:brightness(90%);
        }

    }
}