.content-container{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;

    mat-icon {
        cursor: pointer;
    }
}

.action-buttons{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-around;

    button{
        width: 100px;
    }

    .no-button{
        color:#1976d2;
        &:hover{
            background-color: darken(#fff, 15%);
        }
    }

    .yes-button{
        color: white;
        background-color: #1976d2;
        &:hover{
            background-color: darken(#1976d2, 15%);
        }

    }
}