<div *ngIf="!chartDataLoading" class="container">
    <div class="charts">
        <div  fxFlex="60">
            <app-big-chart [data]="allEventsChartArea"></app-big-chart>
        </div>
        
        <div  fxFlex="40">
            <app-pie-chart [data]="productByCategoryChart"></app-pie-chart>
        </div>

    </div>
    

    <mat-divider></mat-divider>

    <br>

    <div  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25"> 
            <app-card-chart label="New Users Sign Up" [total]="userChartSignUp.usersTotal" percentage="50" [item]="userChartSignUp.item" [data]="userChartSignUp.dataValues"></app-card-chart>
        </mat-card>
        <mat-card fxFlex="25"> 
            <app-card-chart label="Users Sign In" [total]="userChartSignIn.usersTotal" percentage="40" [item]="userChartSignIn.item" [data]="userChartSignIn.dataValues"></app-card-chart>
        </mat-card>
        <mat-card fxFlex="25"> 
            <app-card-chart label="New Customers" [total]="customerChart.customersTotal" percentage="30" [item]="customerChart.item" [data]="customerChart.dataValues"></app-card-chart>
        </mat-card>
        <mat-card fxFlex="25"> 
            <app-card-chart label="New Products" [total]="productChart.productsTotal" percentage="20" [item]="productChart.item" [data]="productChart.dataValues"></app-card-chart>
        </mat-card>
        
    </div>

    <br>

    <mat-divider></mat-divider>


</div>
