<h1>Customers</h1>
<div class="filter-create">
  <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>
  <div fxLayout="row wrap" class="action-buttons">
    <button mat-raised-button class="add-button" (click)="addRow()">
      Add Row    
    </button>
    <button mat-raised-button class="edit-button" color="accent" (click)="editSelectedRow()">
      Edit Row
    </button>
    <button mat-raised-button class="delete-button" color="warn" (click)="removeSelectedRows()">
      Remove Selected Rows
    </button>
  </div>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="border-bottom-style:none;">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                      color="primary">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="border-bottom-style:none;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="id"> 
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container> 
  <ng-container matColumnDef="firstName"> 
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastName"> 
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
</ng-container>
  <ng-container matColumnDef="birthday"> 
      <mat-header-cell *matHeaderCellDef> Birthday </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.birthday | date:"MM/dd/yyyy"}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="gender"> 
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.gender}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="country"> 
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.country}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="postalCode"> 
    <mat-header-cell *matHeaderCellDef> Postal Code </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.postalCode}}</mat-cell>
</ng-container>
<ng-container matColumnDef="address"> 
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
</ng-container>
<ng-container matColumnDef="mailAddress"> 
    <mat-header-cell *matHeaderCellDef> Mail Address </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.mailAddress}}</mat-cell>
</ng-container>
<ng-container matColumnDef="productDiscount"> 
  <mat-header-cell *matHeaderCellDef>Product Discount</mat-header-cell>
  <mat-cell *matCellDef="let row">{{row.productDiscount}}%</mat-cell>
</ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</mat-table>

  
<mat-paginator style="display: inline;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>

