<mat-toolbar class="primary-toolbar" color="primary">
    <mat-toolbar-row >
       <button mat-icon-button (click)="toggleSideBar()">
           <mat-icon>menu</mat-icon>
       </button>
       <span>Visma Latam</span> 
       <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
           <ul fxLayout="row" fxLayoutGap="20px"> 
                <li>
                    <app-theme-menu
                    [options]="options$ | async"
                    (themeChange)="themeChangeHandler($event)">
                    </app-theme-menu>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign Out
                        </button>
                    </mat-menu>
                </li>
           </ul>
       </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="bottom-nav-bar" color="primary">
    <div class="clock-container">
        <mat-icon class="alarm-icon">alarm</mat-icon>
        <app-digital-clock-timer
            matTooltip="Session time remaining"
            matTooltipPosition="right"
            matTooltipHideDelay="100000"
          ></app-digital-clock-timer>         
    </div>
</mat-toolbar> 
