.container{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 0;
    
}

mat-card-header{
    background: #1976d2;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0 2px 5px #0000004d;

    mat-card-title{
        margin-bottom: 0px;
    }
}

mat-card-content{
    width: 100%;
}



.content{
   display: flex;
   flex-direction: column;
   justify-content: center;

   .form-content{ 

       display: flex;
       flex-direction: column;
       align-items: center;

       .input-content{ 
           position: relative;

           .full-width{
               width: 100%;           
           }
       }
       .action-buttons{

           width: 100%;
           display: flex;
           flex-direction: column;

           .submit-button{
            cursor: pointer;
            box-shadow: 0 2px 5px #0000004d;
            background-color: #1976d2;
            color: #fff;
            &:hover{
                background-color: darken(#1976d2,10%);
            }
           }

           .cancel-button{
            color:#1976d2;
            margin: 0px;
            &:hover{
                background-color: darken(#fff,10%);
            }
           }

           button{
               width: 100%;
               margin-bottom: 15px;
           }
       }
       }
   }


#close-icon{
    cursor: pointer;
    margin-right: 16px;
}
.buttons:hover{
    border-color:#232f3e;
}

.has-text-danger{
    color: red;
    font-size: 12px;
}