<mat-drawer-container style="height: 94.9%">
<mat-toolbar class="primary-nav-bar" color="primary">
    <mat-toolbar-row color="primary">
    <span>Visma Latam</span>     
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="bottom-nav-bar">
</mat-toolbar> 
<div class="container">
    <div class="content">     
    <form [formGroup]="loginForm" class="form-container">     
    <mat-card class="form-content">
        <mat-toolbar class="form-toolbar" color="primary">
            <mat-toolbar-row class="form-toolbar-row">
                Log in                 
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card-content class="input-content">
        <div class="row">
            <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <mat-icon matSuffix>badge</mat-icon>
                <input type="email" formControlName="mailAddress" matInput placeholder="Enter your email" required email autocomplete="on">
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="Enter your password" required autocomplete="on">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> 
            </mat-form-field>
            </div>
        </div>
        <div class="divider">
            <mat-divider></mat-divider>
        </div>      
        </mat-card-content>
        <mat-card-actions class="action-buttons">
        <button (click)="onSubmit(loginForm.value)" mat-raised-button class="login-button" color="primary">Login</button>
        <button (click)="goToRegistry()" mat-stroked-button class="create-button">Create a new account</button>
        </mat-card-actions>
    </mat-card>
    </form>

</div>
</div>
</mat-drawer-container>

