.container{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 0;
    
}


mat-card-content{
    width: 100%;
}



.content{
   display: flex;
   flex-direction: column;
   justify-content: center;

   .form-content{ 

        .form-toolbar{      
            border-radius: 4px;     
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            
            height: 60px;
            box-shadow: 0 2px 5px #0000004d;

            .form-toolbar-row{
                align-items: center;
                text-align: center;
                justify-content: space-between;

                .close-button{
                    &:hover{
                        filter: brightness(90%);
                      }
                }
            }
        }

       display: flex;
       flex-direction: column;
       align-items: center;

       .input-content{ 
           position: relative;

           .full-width{
               width: 100%;           
           }
       }
       .action-buttons{

           width: 100%;
           display: flex;
           flex-direction: column;

           .submit-button{
            cursor: pointer;
            box-shadow: 0 2px 5px #0000004d;
            &:hover{
                filter: brightness(90%);
              }
           }

           .cancel-button{
            margin: 0px;
            &:hover{
                filter: brightness(150%);
              }
           }

           button{
               width: 100%;
               margin-bottom: 15px;
           }
       }
       }
   }



