

ul li {
    list-style: none;
}


.container{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 0;
    align-items: center;

    .content{
        width: 70%;
        display: flex;
    }
    

    
    .form-content{
        width: 100%;
        margin-top: 10px;
        box-shadow: 0 2px 5px #0000004d;

        .form-toolbar{  
            border-radius: 4px;         
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            
            height: 60px;
            box-shadow: 0 2px 5px #0000004d;

            .form-toolbar-row{
                align-items: center;
                text-align: center;
                justify-content: space-between;
            }
        }
        
        mat-card-content{
            width: 100%;

            .list-value{
                width: 170px;
            }

            .row{
                mat-form-field{
                    width: 100%;
                }
            }

            .example-stepper{
                align-items: center;
                width: 100%;

                .total-container{
                    height: 40px !important;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border-radius: 4px 4px 0 0;
                    background-color: rgba(0,0,0,.04);
                    font-size: 20px;
                    justify-content: space-around;
                }

                .form-orderDetails{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: -20px;

                    

                    mat-form-field{
                        padding-right: 5px;
                    }
                    .discount-total-container{
                        display: flex;
                        align-items: center;
                        text-align: left;
                        margin-top: 16px;
                        padding-right: 5px;
                        padding-bottom: 1.34375em;

                        .delete-button{
                            width: 100%;
                            height: 100%;
                          &:hover{
                            filter: brightness(90%);
                          }
                        }
                                           
                        .discount-total-box{
                            display: flex;
                            height: 100%;
                            width: 100%;
                            align-items: center;
                            text-align: left;                          
                            position: relative;

                            .discount-total-item{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                border-radius: 4px 4px 0 0;
                                background-color: rgba(0,0,0,.04);
                            }
                            
                            
                            .discount-total-text{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                padding: 0.75em 0.75em 0 0.75em;                              
                            }
                        }
                    }
                }

                .stepper-buttons{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
        
                    button{
                        width: 100px;
                    }
        
                    mat-icon{
                        font-size: 22px;
                    }
        
                    .next-button{
                        &:hover{
                            filter: brightness(90%);
                        }
                    }
        
                    .back-button{
                        margin-right: 10px;
                        &:hover{
                            filter: brightness(90%);
                        }
                    }

                    .submit-button{
                        cursor: pointer;
                        &:hover{
                            filter: brightness(90%); 
                        }
                    }
                    
        
                    .next-back-button{
                        display: flex;
                        flex-direction: row;
                        flex: 0;
                    }
                }

                .form-groups{
                    display: flex;
                    flex-direction: column;

                    

                    .inputs{
                        height: 100%;
                        display: flex;
                        flex-direction: column;



                        .add-button{
                            &:hover{
                                filter: brightness(90%);
                            }
                        }
                              
                              
                        
                        

                        mat-divider{
                            width: 100%;
                            position: relative;
                        }                  
                    }
                    .summary-header{
                        background: dimgrey;
                        margin-bottom: 0px;
                        height: 30px;
                        justify-content: space-evenly;
                    }
            
                    .stepper-buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
            
                        button{
                            width: 100px;
                        }
            
                        mat-icon{
                            font-size: 22px;
                        }
            
                        .next-button{

                            &:hover{
                                filter: brightness(90%);
                            }
                        }
            
                        .back-button{
                            &:hover{
                                filter: brightness(90%);
                            }
                        }

                        .submit-button{
                            cursor: pointer;
                            &:hover{
                                filter: brightness(90%);
                            }
                        }
                        
            
                        .next-back-button{
                            display: flex;
                            flex-direction: row;
                            flex: 0;
                        }
                    }
                }
            }
        }

        .action-buttons{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px;
            padding: 0px;

            .login-button{
                margin: 0px;
                &:hover{
                    filter: brightness(90%);
                }
            }
        }
    }
    
}

mat-card{
    margin-bottom: 10px;
}


    
.has-text-danger{
    color: red;
    font-size: 12px;
}

.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }



  table {
    width: 100%;
  }

.filter-create{
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-form-field{
      display: flex;
      flex:1;
    }
}


@media screen and (max-width: 1000px){
    .container{

        .content{
            width: 100% !important;
        }
    }

}