@import "~@angular/material/theming";
@include mat-core();

html,body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: auto; }

.mat-dialog-alert .mat-dialog-container{
    border-radius: 15px;  
}

.mat-dialog-product-form .mat-dialog-container{
    padding: 0px;
}

.mat-dialog-customer-form .mat-dialog-container{
    padding: 0px;
}

.mat-horizontal-stepper-header{
    pointer-events: none !important;
}


// THEMING









// .dark-theme {
//     $dark-primary: mat-palette($mat-yellow);
//     $dark-accent: mat-palette($mat-amber, A400, A100, A700);
//     $dark-warn: mat-palette($mat-red);
//     $dark-theme: mat-dark-theme((
//     color: (
//         primary: $dark-primary,
//         accent: $dark-accent,
//         warn: $dark-warn
//     )
    
//     ));
//     @include angular-material-theme($dark-theme)
// }

// .light-theme {
//     $light-primary: mat-palette($mat-indigo);
//     $light-accent: mat-palette($mat-pink, A200, A100, A400);
//     $light-warn: mat-palette($mat-red);
//     $light-theme: mat-light-theme((
//     color: (
//         primary: $light-primary,
//         accent: $light-accent,
//         warn: $light-warn
//     )
//     ));
//     @include angular-material-theme($light-theme)
// }


