<mat-nav-list>
    <div class="profile-card">        
        <div class="header">
            <h2>Adam Tolosa</h2>
            <h4>tolosaadam@gmail.com</h4>
        </div>
        <img src="" alt="Tolosa Adam">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader >Pages</h2>

    <a mat-list-item routerLink="products"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>inventory_2</mat-icon>
        <span>Products</span>
        
    </a>
    <a mat-list-item   routerLink="customers"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>import_contacts</mat-icon>
        <span>Customers</span>
    </a>
    <a mat-list-item   routerLink="metrics"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>analytics</mat-icon>
        <span>Stadistics</span>
    </a>
    <!-- <a mat-list-item routerLinkActive="List-item-active" routerLink="questions">Questions</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="manage-products">Manage Products</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="manage-categories">Manage Categories</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="manage-brands">Manage Brands</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="manage-site">Manage Web Site Settings</a> -->
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLink="/contacts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>contact_page</mat-icon>
        <span >Contacts</span>
    </a>

    <a mat-list-item routerLink="/contacts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>contact_phone</mat-icon>
        <span>Leads</span>
    </a>




</mat-nav-list>